<ion-view>
    <ion-nav-title>
        <i class="ion-social-angular"></i>
        <i class="ion-social-html5"></i>
        <i class="ion-social-javascript"></i>
        <i class="ion-social-css3"></i>
        <i class="ion-ionic"></i>
    </ion-nav-title>
    <ion-content>
        <div class="card">
            <div ng-repeat="topic in topics | orderBy: '-id'">
                <div class="item item-{{$index%2==0? 'stable':'light'}}">
                    <h3 class="item-text-title">{{topic.name}}</h3>
                    <div class="item-text-wrap">
                        {{topic.content}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>