<ion-view>
	<ion-nav-bar class="bar-blue">
		<ion-nav-title class="title">Sign-in</ion-nav-title>
		<ion-nav-buttons side="left">
			<button class="button button-icon icon ion-ios-arrow-back" ng-click="goHome()"></button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content>
		<form ng-submit="signin()">
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Username</span>
				<input type="text" ng-model="signinData.username">
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password" ng-model="signinData.password">
			</label>
			<label class="item">
				<button class="button button-block button-blue" type="submit">Log in</button>
			</label>
		</div>
		</form>
	</ion-content>
</ion-view>