# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.vscode/
buipub.sh
asrc.sh
www/lib/
package-lock.json
www/js/app.setting.constant.js