<ion-view cache-view="false">
    <ion-nav-title>
        <i class="ion-ios-information"></i> Help
        <h1 class="title">
            <i class="ion-social-angular"></i>
            <i class="ion-social-html5"></i>
            <i class="ion-social-javascript"></i>
            <i class="ion-social-css3"></i>
            <i class="ion-ionic"></i>
        </h1>
    </ion-nav-title>
    <ion-content on-scroll="scrollEvent()" delegate-handle="scrollHandle">
        <div class="card">
            <div class="item item-divider">
                <h2>Tutorial</h2>
                <p>Examples of usage for this app</p>                
            </div>
            <!-- <a class="item item-list-detail">
                <ion-scroll direction="x">
                    <img ng-repeat="topic in topics" ng-src="{{topic.src}}" ng-click="showGallery($index)" class="image-list-thumb"/>
                </ion-scroll>
            </a> -->
            <div class="item item-body">
                <div class="center">
                    <button class="button button-blue" ng-click="showGallery()">See a simple Tutorial</button>                
                </div>
                <p>
                    Drag with both fingers to zoom in image,
                    to move the image with zoom, use both fingers too.
                </p>
                <p>
                    Drag to left or right to prev and next image.
                </p>
                <p>
                    Drag to down with the finger to close modal.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>