<ion-view>
    <ion-nav-title>
        <i class="ion-ios-information"></i> Help
        <h1 class="title">            
            <i class="ion-social-angular"></i>
            <i class="ion-social-html5"></i>
            <i class="ion-social-javascript"></i>
            <i class="ion-social-css3"></i>
            <i class="ion-ionic"></i>
        </h1>
    </ion-nav-title>
    
    <ion-content on-scroll="scrollEvent()" delegate-handle="scrollHandle">
        <div class="list">
            <div ng-repeat="(tp, topic) in topics | orderBy: '-id'">
                <div class="item item-{{$index%2==0? 'stable':'light'}}" ng-click="toggleGroup(tp, 'parent')" ng-class="{active: isGroupShown(tp, 'parent')}">
                    <i class="icon" ng-class="isGroupShown(tp, 'parent') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
                    <span ng-bind-html="topic.name"></span>
                </div>
                <div class="item-parent item-accordion" style="margin-left: 8px" ng-show="isGroupShown(tp, 'parent')">
                    <p ng-bind-html="topic.content"></p>
                    <div ng-if="topic.chidren">
                        <div ng-repeat="(ci, child) in topic.chidren">
                            <div class="item item-{{$index%2==0? 'stable':'light'}}" ng-click="toggleGroup(ci, 'child')" ng-class="{active: isGroupShown(ci, 'child')}">
                                <i class="icon" ng-class="isGroupShown(ci, 'child') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
                                <span ng-bind-html="child.title"></span>
                            </div>
                            <div class="item-child item-accordion" ng-show="isGroupShown(ci, 'child')">
                                <div ng-bind-html="child.content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>