<ion-view cache-view="false">
    
    <ion-nav-title aria-label="center">
        <i class="ion-android-list"></i>
        Task
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-pound" ng-click="downloadOld()"></button>
        <button class="button button-icon icon ion-android-more-vertical" ng-click="popover.show($event)"></button>
    </ion-nav-buttons> 
    <ion-content padding="true">
        <ion-refresher on-refresh="find()" spinner="bubbles"></ion-refresher>
        <div ng-init="find()">
            <div class="item-blue item-radius item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="filter">
                </label>
                <i class="padding-2">{{$root.filtered.length}}</i>
            </div>
            <ion-list show-delete="showRemove">
                <ion-item ng-repeat="item in $root.filtered = (tasks | filter:filter) | orderBy: '-id'" class="task-item">
                    <div class="task-item-row" style="border-left: 4px solid {{priorities[item.priority].color}}" ng-click="viewTask(item.id)">
                        <div class="col col-75">
                            <ion-delete-button class="{{hasItem(item.id) != -1 ? 'ion-ios-checkmark' : 'ion-ios-circle-outline'}}" ng-click="storeItem(item.id,$event)"></ion-delete-button>
                            <ion-option-button class="button-blue ion-edit" ui-sref="app.taskedit({'taskId': item.id})"></ion-option-button>
                            <h2 ng-bind="item.title"></h2>
                            <small class="small-text">
                                {{item.start_date | date:'dd/MM/yyyy'}}
                                -
                                {{item.end_date | date:'dd/MM/yyyy'}}
                            </small>
                        </div>
                        <div class="col col-20">
                            <render-label type="'situation'" labels="situations" index="item.situation"></render-label>
                        </div>
                    </div>
                </ion-item>
            </ion-list>

            <!--Template to render popover with options for task module-->
            <script id="config-option.html" type="text/ng-template">
                <ion-popover-view>
                    <ion-content>
                        <div class="list-button">
                            <a href="#/app/taskAdd" ng-click="popover.hide()">
                                <i class="ion-plus-circled"></i>
                                New
                            </a>
                            <a href="#/app/taskGraph" ng-click="popover.hide()">
                                <i class="ion-pie-graph"></i>
                                Graph
                            </a>
                            <a ng-click="download()" href="" role="button">
                                <i class="ion-android-download"></i>
                                Export
                            </a>
                            <a ng-click="upload()" href="" role="button">
                                <i class="ion-upload"></i>
                                Import
                            </a>
                            <input type="file" id="upload-file-item" style="display: none"> 
                        </div>
                    </ion-content>
                </ion-popover-view>
            </script>
        </div>
    </ion-content>    

    <ion-footer-bar class="bar-blue" style="padding: 0 !important;">
        <div class="my-row" ng-show="$root.filtered.length>0">
            <div class="col col-90">
                <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-model="showRemove">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <!-- <div class="col col-10">
                <button class="button button-blue button-small icon ion-android-sync"></button>
            </div> -->
            <!-- <div class="col col-10">
                <button class="button button-blue button-small icon ion-android-delete" ng-click="clean()"></button>
            </div> -->
        </div>
    </ion-footer-bar>

</ion-view>