<ion-view ng-init="findOne()">
    <ion-nav-title>
        <h1 class="title center">
            {{ task.id ? 'Update' : 'Create' }} Task
        </h1>        
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <a href="#/app/taskView/{{task.id}}" class="button button-blue" title="View" ng-if="task.id!= undefined">
            <i class="ion-eye"></i>
        </a>
    </ion-nav-buttons>
    <ion-content>
        <form ng-submit="save()" class="list">
            <label class="item item-input" ng-class="{ 'has-error' : task.title=='' || task.title==null, 'valid-lr': task.title.length>0}">
                <span class="input-label">Title</span>
                <input type="text" placeholder="Title" ng-model="task.title" required>                
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <textarea type="text" placeholder="Description" ng-model="task.description"></textarea>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Priority
                </div>
                <select ng-model="task.priority" name="priority">
                    <option ng-repeat="priority in priorities" ng-selected="priority.id==task.priority" value="{{priority.id}}">
                        {{priority.name}}
                    </option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Situation
                </div>
                <select ng-model="task.situation" name="situation">
                    <option ng-repeat="situation in situations" ng-selected="situation.id==task.situation" value="{{situation.id}}">
                        {{situation.name}}
                    </option>
                </select>
            </label>
            <label class="item item-input" ng-class="{ 'has-error' : task.start_date=='' || task.start_date==null, 'valid-lr': task.start_date.length>0}">
                <span class="input-label">Start</span>
                <input type="date" ng-model="task.start_date" required>
            </label>
            <label class="item item-input">
                <span class="input-label">End</span>
                <input type="date" ng-model="task.end_date">
            </label>
            <label class="item item-input">
                <span class="input-label">Status</span>
                <label class="toggle">
                    <input type="checkbox" ng-model="task.status">
                    <div class="track">
                    <div class="handle"></div>
                    </div>
                </label>
            </label>
            <button type="submit" class="button button-block button-blue">
                Save
            </button>
        </form>
    </ion-content>
</ion-view>