<ion-view ng-init="findOne()" cache-view="false">
    <ion-nav-title>
        <h3 class="title" ng-bind="formData.title"></h3>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <a href="#/app/taskEdit/{{formData.id}}" class="button button-blue" title="Edit">
            <i class="ion-edit"></i>
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="item item-input">
            <div class="item-text-wrap">{{formData.description || 'no description'}}</div>
        </div>
        <div class="item item-input">
            <div class="input-label">Priority</div>
            <render-label type="'priority'" labels="priorities" index="formData.priority"></render-label>
        </div>
        <div class="item item-input">
            <div class="input-label">Situation</div>
            <render-label type="'situation'" labels="situations" index="formData.situation"></render-label>
        </div>
        <div class="item item-input">
            <div class="input-label">Status</div>
            <render-label type="'status'" labels="statuses" index="formData.status"></render-label>
        </div>
        <div class="item item-input">
            <div class="input-label">Range Date</div>
            {{formData.start_date | date:'dd/MM/yyyy'}}            
            <span ng-if="formData.end_date != null">
                -
                {{formData.end_date | date:'dd/MM/yyyy'}}
            </span>
        </div>
        <div class="item item-input">
            <div class="input-label">Created</div>
            {{formData.created | date:'dd/MM/yyyy HH:mm:ss'}}
        </div>
    </ion-content>
</ion-view>