body{
    font-family: 'Ruda', sans-serif;
}
.item-content{
    padding: 0 !important;
}
.small-text{
    font-size: 12px; 
    opacity: 0.5;
    /* margin: 0 2px; */
    /* padding: 3% 0; */
    float: right
}

/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 2px solid red;
}
/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
  border-bottom: 2px solid green;
}

.radio-content{
  display: inline !important;
  background: #777
}
.label:hover {
    text-decoration: none;
}
.label {
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 5px;
    /* min-width: 14px; */
    /* min-height: 18px; */
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 20px;
}
.label-calm{
    border-color: #0a9dc7;
    background-color: #11c1f3;
    color: #fff;
}
.label-positive{
    border-color: #0c60ee;
    background-color: #387ef5;
    color: #fff;
}
.label-energized{
    border-color: #e6b500;
    background-color: #ffc900;
    color: #fff;
}
.label-assertive{
    border-color: #e42112 !important;
    background-color: #ef473a !important;
    color: #fff !important;
}
.label-assertive-inverse{
    border-color: #FDFDFD !important;
    background-color: #FDFDFD !important;
    color: #ef473a !important;
}
.label-balanced{
    border-color: #28a54c;
    background-color: #33cd5f;
    color: #fff;
}
.label-stable{
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #444;
}

.label-light-inverse{
    color: #FFF8F2 !important;
}
.badge-container{
      position: relative;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;  
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.table{
    width: 100%
}
.table-item{    
    color: #020202
}
.table-small th{
    font-size: 10px;
}
.table-item th{
    background-color: #FAFAFA;
    width: 13%
}
.table-item td, .table-item th{
    border: 1px solid #DDDDDD;
}
.table-item td, .table-item th{
    padding: 2% 1%;
}
.table th {
    background-color: #6E9FDD;
    color: #F4F4F4
}
.table tr th, .table tr td{
    width: 4%;
    padding: 2% 0.8%;
    border: 1px solid #CCC;
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
}
.line-active{
    background-color: #6E9FDD;
    color: #E5E5E5;
    font-weight: bold;
}
.line-selected{
    color: #b2b2b2;
    background-color: #f8f8f8 !important;
}
.line-inactive{
    background-color: #E5E5E5;
    opacity: 0.3;
    font-weight: normal !important;
}
.item-gray{
    background-color: #f8f8f8;
    line-height: 0;
    margin: 0.9em 0;
}
.no-decoration{
    text-decoration: none
}
/**
* my own colors
*/
.button-green-light{
    background-color: #2EDF7E !important;
}
.button-green-light2{
    background-color: #2EAF7E !important;
}
.button-green, .label-green, .badge-green, .item-green,.bar-green {
    /*background-color: #7EA97D !important;*/
    background-color: #29B36E !important;    
    /*color: #DFE8B2 !important;    */
    /*text-shadow: 0 0 2px #222;*/
    color: #FEFEFE !important;
}

.item-radius{
    border-radius: 4px;
}
.padding-2{
    padding: 1.6% 3%;
}
.button-blue, 
.bar-blue, 
.item-blue, 
.badge-blue, 
.label-blue {
    background-color: #3E7FAD !important;    
    color: #FFF8F2 !important;    
}
.button-blue:hover, .bar-blue button:hover {
    background-color: #4E8FBD !important;    
    color: #FFF8F2 !important;
}
.button-blue-light, 
.bar-blue-light, 
.item-blue-light, 
.badge-blue-light, 
.label-blue-light{
    background-color: #4E8FBD !important;
    color: #FFF8F2 !important;
}
.item-blue span, .item-blue-light span{
    background-color: #FEFEFE !important;
    color: #5E8FCD !important;
}
.button-blue-inverse{
    color: #FFF8F2 !important;
    background-color: #5E8FCD !important;
}
.button-blue-inverse:hover, .button-blue-inverse:link, .button-blue-inverse:active {
    color: #FFF8F2 !important;
    background-color: #6E9FDD !important;
    border: none
}
.bar-blue .title, 
.bar-blue-light .title, 
.bar-gold .title,
.bar-blue button, 
.bar-blue-light button {
    color: #FFF8FF !important;
    text-shadow: 0 1px 1px #2D2D2D;
}
.bar-gold{
    background-color: #DFE8B2 !important;
    color: #6E9FDD !important;
}
.label-blue, .label-blue-light{
    border: 1px solid #FFF;
}
.left{
    float: left;
}
.right{
    float: right
}

.tabs-striped.tabs-background-blue .tabs {
    background-color: #3E7FAD !important;    
    color: #FFF8F2 !important;
    background-image: none; 
}
.tabs-background-blue .tabs,
.tabs-background-blue > .tabs {
    background-color: #3E7FAD;
    background-image: linear-gradient(0deg, #6E9FDD, #6E9FDD 50%, transparent 50%);
    border-color: #6E9FDD; 
}

.popover {
    /* width: auto !important; */
    width: 40% !important;
    height: auto !important;
    border-radius: 4px !important;
    /* top: 4% !important; */
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}
.list-button a{
    border-radius: 4px !important;
    display: block;
    background: #FaFaFa;
    color: #222222;
    text-align: left;
    text-decoration: none;
    /* width: 300px; */
    padding: 4% 10%;
}
.list-button a:hover{
    border-radius: 0 !important;
    background: #DaDaDa;
}
.slider {
  height: 100%;
  position: absolute;
}
.slider-slide{
    text-align: center;
}
.item-child{
    padding: 15px !important;
    border: 1px solid #d0d0d0 !important;
}
.item-parent{
    padding: 10px !important;
}
.center{
    text-align: center !important;
}
/* .loader{
    padding: 0 !important;
    margin: 0 !important;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: loading;
} */

@keyframes loading {
    from{
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    } 
}
.my-row{
    width: 100%;
    display: flex;
    padding-right: 3%
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    /* background: rgba(0,0,0,0.7); */
    background: #101010;
}
 
.slider {
    width: 100%;
    height: 100%;
}
 
.image {
    width: 100%;
    height: 600px;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}
.image p{
    color: #FAFAFA;
    background: #2F2F2F;
    border-radius: 5px;
    padding: 2px 10px;
    text-align: justify;
    letter-spacing: 1px;
    position: absolute;
    font-family: 'Open Sans Condensed', sans-serif;
    opacity: 0.7;
    top: 1.2%;
}
.image-item{
    list-style-type: circle !important;
    display: inline
}
.image-item li{
    text-align: left;
    padding-left: 10px;
}

.zoom-pane {
    width: 100% !important;
    height: 100% !important;
}

.zoom-pane .scroll {
    min-height: 100% !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;    
}

.zoom-pane img {
    width: 100% !important;
    vertical-align: top !important;
}
.task-item{
    /* border-radius: 3px; */
    border-left: none; 
    border-top: none;
    margin: 0;
}
.task-item-row{    
    width: 100%;
    /* position: relative; */
    display: flex;
    /* height: 78px; */
    padding: 1% 2%
}
.task-item-row .col-20,
.task-item-row .col-10{
    text-align: right;
}
.task-info{
    /* position: absolute; */
    /* bottom: 0; */
    /* right: 2%; */
    /* bottom: 0; */
    /* padding-right: 0%; */
    /* height: 100%; */
    /* border-top: 1px solid #F4F4F9; */
    /* border-left: 1px solid #F4F4F9; */
    background: #F9F9F9;
    padding: 2% 4%;
    width: 100%;
}
.task-info > .task-info-item{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
.task-info-item:nth-child(1){
    text-align: left;
}
.task-info-item:nth-child(2){
    text-align: right;
}
.button-synced,.button-sync{
    /* text-align: left; */
    color: #FFF8F2 !important;
    border: 1px solid #9D9D9D;
    border-radius: 3px;
}
.button-sync{
    background-color: #6E9FDD !important;
}
.button-synced{
    background-color: #2EAF7E;
    cursor: auto;
}
.task-info > .task-info-item > .button-sync:hover{
    background-color: #7EAFED !important;
}
.progress{
    width: 100%;
    border-radius: 5px;
    background: #D2D2D2;
    height: 16px;
    color:white !important;
}
.progress > .progress-item{
    position: relative;
    background: #6E9FDD !important;
    border-radius: 5px;
    height: 16px;
    z-index: 1;
    overflow: hidden;
    border:1px solid #4E7FBD;
}
.progress-item span{
    position: absolute;
    z-index: 0;
    display: block;
    height: 16px;
    width: 40px;
    background: #7EAFED;
    border:1px solid #D2D2D2;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: moving;
    -ms-transform: rotate(-43deg);
    -webkit-transform: rotate(-43deg);
    -moz-transform: rotate(-43deg);
    -o-transform: rotate(-43deg);
    transform: rotate(-43deg);
}

.progress > .progress-item > p{
    position: absolute;
    width: 100%;
    text-align: center
}

@keyframes moving{
    from {
        left: 0;
    }
    to{
        left: 100%;
    }
}