/* Empty. Add your own CSS if you like */
.small-text{
    font-size: 0.8em;
    color: #777
}

/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
  border-bottom: 2px solid green;
}

.radio-content{
  display: inline !important;
  background: #777
}
.label:hover {
    text-decoration: none;
}
.label {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 5px;
    min-width: 14px;
    min-height: 18px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 11px;
    line-height: 14px;
}
.label-calm{
    border-color: #0a9dc7;
    background-color: #11c1f3;
    color: #fff;
}
.label-positive{
    border-color: #0c60ee;
    background-color: #387ef5;
    color: #fff;
}
.label-energized{
    border-color: #e6b500;
    background-color: #ffc900;
    color: #fff;
}
.label-assertive{
    border-color: #e42112;
    background-color: #ef473a;
    color: #fff;
}
.label-balanced{
    border-color: #28a54c;
    background-color: #33cd5f;
    color: #fff;
}
.label-stable{
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #444;
}
.badge-container{
      position: relative;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.table{
    width: 100%
}
.table th {
    background-color: #6E9FDD;
    color: #F4F4F4
}
.table tr th, .table tr td{
    width: 4%;
    padding: 2% 0.8%;
    border: 1px solid #CCC;
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
}
.line-active{
    background-color: #6E9FDD;
    color: #E5E5E5;
    font-weight: bold;
}
.line-selected{
    color: #b2b2b2;
    background-color: #f8f8f8 !important;
}
.line-inactive{
    background-color: #E5E5E5;
    opacity: 0.3;
    font-weight: normal !important;
}
.item-gray{
    background-color: #f8f8f8;
    line-height: 0;
    margin: 0.9em 0;
}
.no-decoration{
    text-decoration: none
}
/**
* my own colors
*/
.button-green-light{
    background-color: #2EDF7E !important;
}
.button-green-light2{
    background-color: #2EAF7E !important;
}
.button-green, .label-green, .badge-green, .item-green,.bar-green {
    /*background-color: #7EA97D !important;*/
    background-color: #29B36E !important;    
    /*color: #DFE8B2 !important;    */
    /*text-shadow: 0 0 2px #222;*/
    color: #FEFEFE !important;
}

.button-blue, 
.bar-blue, 
.item-blue, 
.badge-blue, 
.label-blue {
    background-color: #3E7FAD !important;    
    color: #FFF8F2 !important;    
}
.button-blue:hover, .bar-blue button:hover {
    background-color: #4E8FBD !important;    
    color: #FFF8F2 !important;
}
.button-blue-light, 
.bar-blue-light, 
.item-blue-light, 
.badge-blue-light, 
.label-blue-light{
    background-color: #5E8FCD !important;
    color: #FFF8F2 !important;
}
.item-blue span, .item-blue-light span{
    background-color: #FEFEFE !important;
    color: #5E8FCD !important;
}
.button-blue-inverse{
    color: #FFF8F2 !important;
    background-color: #5E8FCD !important;
}
.button-blue-inverse:hover, .button-blue-inverse:link, .button-blue-inverse:active {
    color: #FFF8F2 !important;
    background-color: #6E9FDD !important;
    border: none
}
.bar-blue .title, 
.bar-blue-light .title, 
.bar-gold .title,
.bar-blue button, 
.bar-blue-light button {
    color: #FFF8FF !important;
    text-shadow: 0 1px 1px #2D2D2D;
}
.bar-gold{
    background-color: #DFE8B2 !important;
    color: #6E9FDD !important;
}
.label-blue, .label-blue-light{
    border: 1px solid #FFF;
}
.right{
    float: right
}